{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}
{% block headline %}
    {{ headline1("Systemkonfiguration") }}
{% endblock %}

{% block content %}

    {% embed "block/scaffholding/board.twig" with {'class': 'board--spaceless config-view', 'data': {'includeurl':includeUrl() }} %}

        {% block board_title %}
            Konfiguration System
        {% endblock %}

        {% block board_body %}
            <p>
            Im Folgenden wird die aktuelle Konfiguration der vorliegenden ZMS-Instanz gezeigt. Diese Konfiguration ist nur von einem System-Administrator änderbar. Diese Seite dient lediglich dem Zweck, die Konfiguration zu prüfen.
            </p>
                                       

         
            {% for group, settings in config %}
                {% if settings|keys|length and group != "descriptions" %}
                <div class="block">
                    <h2 class="block__heading">{{group}}</h2>
                    <ul class="panel--heavy">
                    {% for name, value in settings %}
                        <li class="grid">
                            <div class="grid__item three-twelfths">
                                {% if config.descriptions[group][name] %}
                                <i aria-hidden="true" title="{{ config.descriptions[group][name]|trans }}" class="fas fa-question-circle"></i>&nbsp;
                                {% endif %}
                                <strong>{{name}}:</strong>
                            </div>
                            <div class="grid__item eight-twelfths">{{value}}</div>
                            <div class="grid__item one-twelfth">{% if workstation.useraccount.rights.superuser == "1" %} 
                                <a data-property="{{ name }}" data-value="{{ value }}" data-description="{{ config.descriptions[group][name] }}" data-key="{{ group }}" href="#" class="icon edit" title="Bearbeiten"><i class="fas fa-edit" aria-hidden="true"></i> <span class="aural">Bearbeiten</span></a> {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endfor %}

            <div class="block mail--templates">
                <h2 class="block__heading">email templates</h2>
                <div class="panel--heavy">

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "confirmed"
                            } %}</h3>
                            <pre>
                                {% include "@zmsentities/messaging/mail_confirmation.twig" with {
                                    "date": processExample.getFirstAppointment.date,
                                    "process": processExample, 
                                    "processList": processListExample, 
                                    "client": processExample.clients|first
                                } %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "reminder"
                            } %}</h3>
                            <pre>
                                {% include "@zmsentities/messaging/mail_reminder.twig" with {
                                    "date": processExample.getFirstAppointment.date,
                                    "process": processExample, 
                                    "processList": processListExample, 
                                    "client": processExample.clients|first
                                } %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "deleted"
                            } %}</h3>
                            <pre>
                                {% include "@zmsentities/messaging/mail_delete.twig" with {
                                    "date": processExample.getFirstAppointment.date,
                                    "process": processExample, 
                                    "processList": processListExample, 
                                    "client": processExample.clients|first
                                } %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "process": processExample, 
                                "initiator": "XXX", 
                                "status": "overview"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_processlist_overview.twig" with {
                                    "processList": processListExample, 
                                    "client": (processExample.clients|first),
                                    "initiator": "XXX", 
                                    "status": "overview"} %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "process": processExample, 
                                "initiator": "XXX", 
                                "status": "overview"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_processlist_overview.twig" with {
                                    "processList": [], 
                                    "client": (processExample.clients|first),
                                    "initiator": "XXX", 
                                    "status": "overview"} %}
                            </pre>
                        </div>
                    </fieldset>
                    
                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "pickup", 
                                "process": {"requests": processExample.requests}
                            } %}</h3>
                            <pre>
                                {% include "@zmsentities/messaging/mail_pickup.twig" with {"process": processExample, "client": processExample.clients|first} %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "queued"
                            } %}</h3>
                            <pre>
                                {% include "@zmsentities/messaging/mail_queued.twig" with {
                                    "date": processExample.getFirstAppointment.date,
                                    "process": processExample, 
                                    "processList": processListExample, 
                                    "client": processExample.clients|first
                                } %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "deleted", 
                                "initiator": "XXX"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_admin_delete.twig" with {
                                    "process": processExample, 
                                    "initiator": "XXX"
                                } %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "deleted", 
                                "initiator": "XXX"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_admin_delete.twig" with {"process": {
                                    "queue": {"number": 123456},
                                    "scope": processExample.scope,
                                }, "initiator": "XXX"} %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "updated", 
                                "initiator": "XXX"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_admin_update.twig" with {"process": processExample, "initiator": "XXX"} %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "updated", 
                                "initiator": "XXX"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_admin_update.twig" with {
                                    "process": {
                                        "queue": {"number": 123456},
                                        "scope": processExample.scope,
                                    }, 
                                    "initiator": "XXX"
                                } %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "process": {
                                    "clients": [{"surveyAccepted": 1}],
                                    "scope": processExample.scope
                                },
                                "initiator": "XXX", 
                                "status": "survey"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_survey.twig" with {
                                    "process": processExample,
                                    "client": processExample.clients|first
                                } %}
                            </pre>
                            </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>ohne Kundennamen</h3>
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "process": {
                                    "clients": [{"surveyAccepted": 1}],
                                    "scope": processExample.scope
                                },
                                "status": "survey"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_survey.twig" with {
                                    "process": processExample
                                } %}
                            </pre>
                            </div>
                    </fieldset>
                </div>
            </div>
        {% endblock %}

    {% endembed %}

{% endblock %}
