{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}

{% block headline %}
    {% if schedule.id %}
        {{ headline1("Wartungstermin bearbeiten: " ~ schedule.id) }}
    {% else %}
        {{ headline1("Wartungstermin hinzufügen") }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="maintenance-view">
        {% include "block/maintenance/schedule/edit.twig" %}
    </div>
{% endblock %}