{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}

{% block headline %}
    {{ headline1("Systemwartung") }}
{% endblock %}

{% block content %}
    <div class="maintenance-view" data-includeurl="{{ includeUrl() }}" data-reloadinterval="{{ reloadInterval }}">
        {% include "element/helper/exceptionHandler.twig" %}
        {% include "element/helper/messageHandler.twig" %}
        {% include "block/maintenance/userStats.twig" %}
        <br>
        {% include "block/maintenance/schedule/list.twig" %}
    </div>   
{% endblock %}
