{% from 'element/helper/form.twig' import formgroup, formbutton, custombutton, inputfield %}

<form action="./" method="post" class="form--base">
    <div class="fieldset">
        <div class="panel--heavy">
            {% if schedule.id %}
                <input type="hidden" name="id" value="{{ schedule.id }}">
            {% endif %}
            {% set isActive = schedule.isActive %}
            {% set maintenance = preview %}
            {{ formgroup(
                {
                    "description": metadata.isRepetitive.description,
                },
                [{
                    "type":"checkbox",
                    "parameter": {
                        "id": "scheduleRepetition",
                        "label": "periodische Wiederholung",
                        "name": "isRepetitive",
                        "value": 1,
                        "checked": schedule.isRepetitive,
                        "disabled": isActive
                    }
                }]
            ) }}
            {{ formgroup(
                {
                    "label": "Startzeit:",
                    "description": metadata.timeString.description,
                    "required": true,
                    "errors": exception.data.timeString.messages
                },
                [{
                    "type":"input",
                    "parameter": {
                        "id": "repetitiveTime",
                        "name": "timeString",
                        "value": schedule.timeString,
                        "maxlength": 40,
                        "readonly": isActive,
                        "placeholder": "m h * * *"
                    }
                }]
            ) }}
            {{ formgroup(
                {
                    "label": "Startzeit:",
                    "description": metadata.timeString.description,
                    "required": true,
                    "errors": exception.data.timeString.messages
                },
                [{
                    "type":"input",
                    "parameter": {
                        "id": "singleTime",
                        "name": "timeString",
                        "value": schedule.timeString,
                        "maxlength": 40,
                        "readonly": isActive,
                        "placeholder": "YYYY-MM-DD HH:mm:ss"
                    }
                }]
            ) }}

            {% set values = [30, 45, 60, 90, 120, 180, 360, 720, 1440] %}
            {% set options = [] %}
            {% for value in values %}
                {% set selected = '' %}
                {% if schedule.duration == value %}
                    {% set selected = 'selected' %}
                {% endif %}
                {% set options = options|merge([{"value": value, "name": value, "selected": selected}]) %}
            {% endfor %}
            {{ formgroup(
                {
                    "label": "Dauer in Minuten:",
                    "description": metadata.duration.description,
                },
                [{
                    "type":"select",
                    "parameter": {
                        "name": "duration",
                        "multiple": false,
                        "options": options,
                        "disabled": isActive
                    }
                }]
            ) }}

            {% set values = [20, 30, 45, 60, 90, 120] %}
            {% set options = [] %}
            {% for value in values %}
                {% set selected = '' %}
                {% if schedule.leadTime == value %}
                    {% set selected = 'selected' %}
                {% endif %}
                {% set options = options|merge([{"value": value, "name": value, "selected": selected}]) %}
            {% endfor %}
            {{ formgroup(
                {
                    "label": "Ankündigungszeit in Minuten:",
                    "description": metadata.leadTime.description,
                },
                [{
                    "type":"select",
                    "parameter": {
                        "name": "leadTime",
                        "multiple": false,
                        "options": options,
                        "disabled": isActive
                    }
                }]
            ) }}

            {{ inputfield({
                "type":"hidden",
                "name":"area",
                "value":"zms*",
            }) }}
            <div class="block--bordered">
                <div id="announcement_preview">
                    <h2>Ankündigung</h2>
                    <div class="form-control">
                        {{ include(template_from_string(schedule.announcement)) }}
                    </div>
                    <button class="btn button" id="btn_announcement_edit">Bearbeiten</button>
                </div>
                <div id="announcement_edit" hidden="true">
                    <h2>Ankündigung</h2>
                    <textarea name="announcement" class="form-control">{{ schedule.announcement|raw }}</textarea>
                    {{ formbutton({ "type":"save", "class": "button button--positive", "name": "preview", "label":"Vorschau", "value": "preview", "id": "submitButton" }) }}
                </div>
            </div>
            <br />
            <div class="block--bordered">
                <div id="documentBody_preview">
                    <h2>Wartungshinweis</h2>
                    <div class="form-control">
                        {{ include(template_from_string(schedule.documentBody)) }}
                    </div>
                    <button class="btn button" id="btn_documentBody_edit">Bearbeiten</button>
                </div>
                <div id="documentBody_edit" hidden="true">
                    <h2>Wartungshinweis</h2>
                    <textarea name="documentBody" class="form-control">{{ schedule.documentBody|raw }}</textarea>
                    {{ formbutton({ "type":"save", "class": "button button--positive", "name": "preview", "label":"Vorschau", "value": "preview", "id": "submitButton" }) }}
                </div>
            </div>
            <div class="form-actions">
                <div class="controls">
                    {% if schedule.id %}
                        {{ custombutton({ "type":"abort","class": "button button--navigational" ,"target": urlGet("maintenance", {"id": schedule.id}, {}), "label":"Abbrechen" }) }}
                        {{ custombutton({ "type":"delete","class": "button button--destructive" ,"target": urlGet("maintenanceScheduleDelete", {"id": schedule.id}, {}), "label":"Löschen" }) }}
                    {% endif %}
                    {% if not isActive %}
                        {{ formbutton({ "type":"save", "class": "button button--positive", "name": "save", "label":"Speichern", "value": "save", "id": "submitButton" }) }}
                    {% endif %}
                </div>
            </div>
            <br>
        </div>
    </div>
</form>