{% block conflictsBlock %}
	{% set errorTitle = "Es wurden Konflikte entdeckt" %}
	{{ block('error_start') }}
	<ul>
	{% for conflict in conflictlist %}
		<li>
		{% if conflict.appointments and conflict.appointments|first.availability %}
			{% for appointment in conflict.appointments %}
				<strong>{{ appointment.startTime }} - {{ appointment.endTime }}</strong><br />
			{% endfor %}
		{% endif %}
		{{ conflict.message|default('Außerhalb der Öffnungszeit gebucht oder Zeitslots überbucht')|trans }}
		</li>
	{% endfor %}
	</ul>
	Ihre Anpassungen wurden übernommen.
	<div class="form-actions">
		<button type="button" data-action-ok class="button button-ok btn right">OK</button>
	</div>
	{{ block('error_end') }}
{% endblock %}

{% block errors %}
	{% if args.error or error %}
        {% block login_failed %}
        	{{ block('error_start') }}
        	Die Anmeldung ist leider fehlgeschlagen. Versuchen Sie es bitte erneut.
        	{{ block('error_end') }}
        {% endblock %}
		{% block unknown_error %}
        	{{ block('error_start') }}
        	Es ist ein unbekannter Fehler aufgetreten.Fehler: 
        	{{ block('error_end') }}
        {% endblock %}
		{% block mail_failed %}
			{% set errorTitle = "E-Mail Versand gescheitert." %}
			{{ block('error_start') }}
				Beim Versand der E-Mail ist ein Fehler aufgetreten. Bitte prüfen Sie Ihre Eingaben und versuchen Sie es erneut.
			{{ block('error_end') }}
		{% endblock %}
		{% block notification_failed %}
			{% set errorTitle = "E-Mail Versand gescheitert." %}
			{{ block('error_start') }}
				Beim Versand der SMS ist ein Fehler aufgetreten. Bitte prüfen Sie Ihre Eingaben und versuchen Sie es erneut.
			{{ block('error_end') }}
		{% endblock %}
		{% block has_called_process %}
			{% set errorTitle = "Es ist schon ein Kunde in Bearbeitung" %}
			{{ block('error_start') }}
				Dieser Arbeitsplatz hat schon einen Vorgang aufgerufen. Dieser wird weiterhin verwendet.
			{{ block('error_end') }}
		{% endblock %}
		{% block has_called_pickup %}
			{% set errorTitle = "Es ist schon ein Abholer in Bearbeitung" %}
			{{ block('error_start') }}
				Dieser Arbeitsplatz hat schon einen Abholer aufgerufen.
				<div class="form-actions">
					<div class="right">
						<a class="button" href="{{ urlGet('pickup', {}, {'selectedprocess':workstation.process.id}) }}">Zur Abholerverwaltung</a>
					</div>
				</div>
			{{ block('error_end') }}
		{% endblock %}
    {% endif %}
{% endblock %}

{% block notices %}
	{% if args.notice or notice %}
    	{% block test_notice %}
    	{{ block('notice_start') }}
		Test Notice
        {{ block('notice_end') }}
    	{% endblock %}
    {% endif %}
{% endblock %}

{% block successes %}
	{% if args.success or success %}

		{% block config_saved %}
    	{{ block('success_start') }}
        	Die Config-Einstellungen wurden {{ timeString }} erfolgreich gespeichert.
        {{ block('success_end') }}
    	{% endblock %}


		{% block cluster_deleted %}
    	{{ block('success_start') }}
        	Der Cluster wurde {{ timeString }} erfolgreich entfernt.
        {{ block('success_end') }}
    	{% endblock %}

    	{% block cluster_created %}
	    	{{ block('success_start') }}
	        	Der Cluster wurde {{ timeString }} erfolgreich angelegt.
	        {{ block('success_end') }}
    	{% endblock %}

    	{% block cluster_saved %}
	    	{{ block('success_start') }}
	        	Der Cluster wurde {{ timeString }} erfolgreich aktualisiert.
	        {{ block('success_end') }}
    	{% endblock %}

	    {% block department_deleted %}
    	{{ block('success_start') }}
        	Die Behörde wurde {{ timeString }} erfolgreich entfernt.
        {{ block('success_end') }}
    	{% endblock %}

    	{% block department_created %}
    	{{ block('success_start') }}
        	Die Behörde wurde {{ timeString }} erfolgreich angelegt.
        {{ block('success_end') }}
    	{% endblock %}

    	{% block department_saved %}
    	{{ block('success_start') }}
        	Die Behörde wurde {{ timeString }} erfolgreich aktualisiert.
        {{ block('success_end') }}
    	{% endblock %}


    	{% block organisation_deleted %}
    	{{ block('success_start') }}
        	Der Bezirk wurde {{ timeString }} erfolgreich entfernt.
        {{ block('success_end') }}
    	{% endblock %}

    	{% block organisation_created %}
    	{{ block('success_start') }}
        	Der Bezirk wurde {{ timeString }} erfolgreich angelegt.
        {{ block('success_end') }}
    	{% endblock %}

    	{% block organisation_saved %}
    	{{ block('success_start') }}
        	Der Bezirk wurde {{ timeString }} erfolgreich aktualisiert.
        {{ block('success_end') }}
    	{% endblock %}


    	{% block owner_deleted %}
    	{{ block('success_start') }}
        	Der Kunde wurde {{ timeString }} erfolgreich entfernt.
        {{ block('success_end') }}
    	{% endblock %}

    	{% block owner_created %}
	    	{{ block('success_start') }}
	        	Der Kunde wurde {{ timeString }} erfolgreich angelegt.
	        {{ block('success_end') }}
    	{% endblock %}

    	{% block owner_saved %}
	    	{{ block('success_start') }}
	        	Der Kunde wurde {{ timeString }} erfolgreich aktualisiert.
	        {{ block('success_end') }}
    	{% endblock %}

		{% block password_changed %}
	    	{{ block('success_start') }}
				Sie können sich ab jetzt mit Ihren neuen Zugangdaten anmelden, bleiben aber noch angemeldet.
	        {{ block('success_end') }}
    	{% endblock %}

		{% block maintenance_schedule_add %}
			{% set successTitle = "Anlegen erfolgreich" %}
	    	{{ block('success_start') }}
	        	Das Anlegen des Wartungstermins war erfolgreich.
	        {{ block('success_end') }}
    	{% endblock %}

    	{% block maintenance_schedule_edit %}
			{% set successTitle = "Änderung erfolgreich" %}
	    	{{ block('success_start') }}
	        	Das Ändern des Wartungstermins war erfolgreich.
	        {{ block('success_end') }}
    	{% endblock %}

    	{% block maintenance_schedule_delete %}
			{% set successTitle = "Löschen erfolgreich" %}
	    	{{ block('success_start') }}
	        	Ein Wartungstermin wurde {{ timeString }} erfolgreich entfernt.
	        {{ block('success_end') }}
    	{% endblock %}


    	{% block scope_deleted %}
			{% set successTitle = "Löschen erfolgreich" %}
	    	{{ block('success_start') }}
	        	Der Standort wurde {{ timeString }} erfolgreich entfernt.
	        {{ block('success_end') }}
    	{% endblock %}

    	{% block scope_created %}
			{% set successTitle = "Anlegen erfolgreich" %}
	    	{{ block('success_start') }}
	        	Der Standort wurde {{ timeString }} erfolgreich angelegt.
	        {{ block('success_end') }}
    	{% endblock %}

    	{% block scope_saved %}
			{% set successTitle = "Speichern erfolgreich" %}
	    	{{ block('success_start') }}
	        	Der Standort wurde {{ timeString }} erfolgreich aktualisiert.
	        {{ block('success_end') }}
    	{% endblock %}

		{% block source_saved %}
			{% set successTitle = "Speichern erfolgreich" %}
	    	{{ block('success_start') }}
	        	Der Mandant wurde {{ timeString }} erfolgreich aktualisiert.
	        {{ block('success_end') }}
		{% endblock %}

		{% block ticketprinter_deactivated_0 %}
	    	{{ block('success_start') }}
	        	Die Kioskeinstellungen wurden {{ timeString }} erfolgreich aktualisiert.
				Der Kiosk ist nun <span class="color-green">in Betrieb</span>.
	        {{ block('success_end') }}
    	{% endblock %}

		{% block ticketprinter_deactivated_1 %}
	    	{{ block('success_start') }}
	        	Die Kioskeinstellungen wurden {{ timeString }} erfolgreich aktualisiert.
				Der Kiosk ist nun <span class="color-red">gesperrt</span>.
	        {{ block('success_end') }}
    	{% endblock %}

		{% block useraccount_deleted %}
	    	{{ block('success_start') }}
	        	Der Nutzer wurde {{ timeString }} erfolgreich entfernt.
	        {{ block('success_end') }}
    	{% endblock %}

		{% block useraccount_saved %}
	    	{{ block('success_start') }}
	        	Der Nutzer wurde {{ timeString }} erfolgreich aktualisiert.
	        {{ block('success_end') }}
    	{% endblock %}

		{% block useraccount_added %}
	    	{{ block('success_start') }}
	        	Der Nutzer wurde {{ timeString }} erfolgreich angelegt.
	        {{ block('success_end') }}
    	{% endblock %}

		{% block dayoff_saved %}
	    	{{ block('success_start') }}
	        	Feiertage wurden {{ timeString }} erfolgreich aktualisiert.
	        {{ block('success_end') }}
    	{% endblock %}

		{% block process_reserved %}
			{% set successTitle = "Termin erfolgreich eingetragen" %}
			{{ block('success_start') }}
				<dl>
					{% if selectedprocess.queue.number < 10000 %}<dt>Die Wartenummer {% else %}<dt>Die Vorgangsnummer {% endif %}{% if selectedprocess.clients|first.familyName %}für "{{ selectedprocess.clients|first.familyName|raw }}"{% endif %} lautet: {{ selectedprocess.queue.number }}</dt>
					<dt>Standort: {{ selectedprocess.scope.contact.name }} {{ selectedprocess.scope.shortName }}</dt>
					{% if selectedprocess.scope.hint %}<dt>Info: {{ selectedprocess.scope.hint }}</dt>{% endif %}
				</dl>
				<div class="form-actions">
					<div class="right">
						<button type="button" class="button btn button-submit button-ok">Ok</button>
						<button type="button" class="button btn button-submit button-callback" data-callback="onPrintWaitingNumber" name="printWaitingNumber" data-id={{ selectedprocess.id }} autofocus accesskey="u">{% if selectedprocess.queue.number < 10000 %} Wartenummer{% else %} Vorgangsnummer{% endif %} drucken</button>
						<button type="button" class="button btn button-submit button-callback" data-callback="onEditProcess" name="editProcess" data-id={{ selectedprocess.id }}>Termin erneut bearbeiten</button>
					</div>
				</div>
	        {{ block('success_end') }}
    	{% endblock %}

		{% block process_changed %}
			{% set successTitle = "Vorgang wurde geändert" %}
			{{ block('success_start') }}
				Die Terminzeit des Vorgangs mit der Nummer {{ selectedprocess.queue.number }} wurden erfolgreich geändert.
				<div class="form-actions">
                    <button type="button" data-action-ok class="button button-ok btn right">OK</button>
                </div>
	        {{ block('success_end') }}
    	{% endblock %}

		{% block process_deleted %}
			{% set successTitle = "Vorgang gelöscht" %}
			{{ block('success_start') }}
				Der Vorgang mit der Nummer {{ selectedprocess.queue.number }} wurde erfolgreich entfernt.
                <div class="form-actions">
                    <button type="button" data-action-ok class="button button-ok btn right">OK</button>
                </div>
	        {{ block('success_end') }}
    	{% endblock %}

		{% block process_updated %}
			{% set successTitle = "Vorgang aktualisiert" %}
			{{ block('success_start') }}
				Der Vorgang mit der Nummer {{ selectedprocess.queue.number }} wurde erfolgreich aktualisiert.
				<div class="form-actions">
                    <button type="button" data-action-ok class="button button-ok btn right">OK</button>
                </div>
	        {{ block('success_end') }}
    	{% endblock %}

		{% block process_withoutappointment_updated %}
			{% set successTitle = "Spontankunde aktualisiert" %}
			{{ block('success_start') }}
				Der Spontankunde mit der Wartenummer {{ selectedprocess.queue.number }} wurde erfolgreich aktualisiert.
				<div class="form-actions">
                    <button type="button" data-action-ok class="button button-ok btn right">OK</button>
                </div>
	        {{ block('success_end') }}
    	{% endblock %}

		{% block process_queued %}
			{% set successTitle = "Wartenummer wurde hinzugefügt" %}
			{{ block('success_start') }}
				<dl>
					<dt>Die Wartenummer {% if selectedprocess.clients|first.familyName %}für "{{ selectedprocess.clients|first.familyName|raw }}"{% endif %} lautet: {{ selectedprocess.queue.number }}</dt>
					<dt>Standort: {{ selectedprocess.scope.contact.name }} {{ selectedprocess.scope.shortName }}</dt>
					{% if selectedprocess.scope.hint %}<dt>Info: {{ selectedprocess.scope.hint }}</dt>{% endif %}
				</dl>
				<div class="form-actions">
		            <div class="right">
		                <button type="button" class="btn button button-submit button-ok" accesskey="q">Schließen</button>
		                <button type="button" class="btn button button-submit button-callback" data-callback="onPrintWaitingNumber" name="printWaitingNumber" data-id={{ selectedprocess.id }} accesskey="u">Wartenummer drucken</button>
		            </div>
		        </div>
	        {{ block('success_end') }}
    	{% endblock %}
		{% block process_reset_queued %}
			{% set successTitle = "Erfolgreiche Wiederaufnahme in Warteschlange" %}
			{{ block('success_start') }}
					<p>
						Der Vorgang mit der Nummer {{ changedProcess.queue.number }}{% if changedProcess.clients|first.familyName  %} (Name: {{ changedProcess.clients|first.familyName|raw }}){% endif %} wurde erfolgreich zum Aufruf zurückgesetzt.
						<div class="form-actions">
							<a data-action-ok class="button button--default button-ok" href="#">OK</a>
						</div>
					</p>
			{{ block('success_end') }}
		{% endblock %}


		{% block mail_sent %}
			{% set successTitle = "E-Mail versendet" %}
			{{ block('success_start') }}
				Der Versand der E-Mail war erfolgreich.
				<div class="form-actions">
                    <button type="button" data-action-ok class="button button-ok btn right">OK</button>
                </div>
			{{ block('success_end') }}
		{% endblock %}

		{% block notification_sent %}
			{% set successTitle = "SMS versendet" %}
			{{ block('success_start') }}
				SMS-Versand an {{ process.clients|first.telephone }} initiiert.
				<div class="form-actions">
                    <button type="button" data-action-ok class="button button-ok btn right">OK</button>
                </div>
			{{ block('success_end') }}
		{% endblock %}

    {% endif %}
{% endblock %}

{% block error_start %}
	<section class="dialog message message--error" role="alert">
		<h2 class="message__heading title">{% trans %}Fehler{% endtrans %}: {{ errorTitle|default("Es ist ein Fehler aufgetreten")|trans }}</h2>
		<div class="message__body">
{% endblock %}
{% block error_end %}</div></section>{% endblock %}

{% block success_start %}
	<section class="dialog message message--success" role="alert">
		<h2 class="message__heading title"><i aria-hidden="true" title="{{ successTitle|default("Erfolgreiche Anfrage")|trans }}" class="fas fa-check-circle"></i> {{ successTitle|default("Erfolgreiche Anfrage")|trans }}</h2>
		<div class="message__body">
{% endblock %}
{% block success_start_keep %}
	<section class="dialog message message--success message-keep" role="alert">
		<h2 class="message__heading title"><i aria-hidden="true" title="{{ successTitle|default("Erfolgreiche Anfrage")|trans }}" class="fas fa-check-circle"></i> {{ successTitle|default("Erfolgreiche Anfrage")|trans }}</h2>
		<div class="message__body">
{% endblock %}
{% block success_end %}</div></section>{% endblock %}


{% block notice_start %}
	<div class="dialog message message--info" role="alert">
		<h2 class="message__heading title"><i aria-hidden="true" title="{{ ("Information")|trans }}" class="fas fa-info-circle"></i> {{ ("Information")|trans }}</h2>
		<div class="message__body">
{% endblock %}

{% block notice_end %}
		</div>
	</div>
{% endblock %}